<div>
  <form action="/duns", method="get">
    <h6 style="display:inline">Enter DUNS number and click submit to begin automated WebScraper: </h6>
    <input type="text" style="font-size:12pt;" name="duns">
    <input type="submit" style="width:120px; height:120px;">
  </form>
</div>
